public net.minecraft.client.Minecraft field_193996_ah # renderPartialTicksPaused
public-f net.minecraft.client.audio.SoundHandler field_147694_f # sndManager
public-f net.minecraft.client.audio.SoundManager field_148630_i # invPlayingSounds

# Leaf fix - remove final so vanilla leaf fields can be replaced at runtime
public net.minecraft.init.Blocks field_150362_t # LEAVES
public net.minecraft.init.Blocks field_150361_u # LEAVES2
public net.minecraft.world.gen.feature.WorldGenTrees field_181654_b # DEFAULT_LEAF
public net.minecraft.world.biome.BiomeJungle field_181621_aF # JUNGLE_LEAF
public net.minecraft.world.biome.BiomeJungle field_181622_aG # OAK_LEAF
public net.minecraft.world.gen.feature.WorldGenBirchTree field_181630_b # LEAF
public net.minecraft.world.gen.feature.WorldGenMegaPineTree field_181634_f # LEAF
public net.minecraft.world.gen.feature.WorldGenSwamp field_181649_b # LEAF
public net.minecraft.world.gen.feature.WorldGenTaiga1 field_181637_b # LEAF
public net.minecraft.world.gen.feature.WorldGenTaiga2 field_181646_b # LEAF
public net.minecraft.world.biome.BiomeTaiga field_150641_aE # MEGA_PINE_GENERATOR
public net.minecraft.world.biome.BiomeTaiga field_150642_aF # MEGA_SPRUCE_GENERATOR
public net.minecraft.world.biome.Biome field_76757_N # TREE_FEATURE
public net.minecraft.world.gen.feature.WorldGenCanopyTree field_181641_b # DARK_OAK_LEAVES
public net.minecraft.world.gen.feature.WorldGenSavannaTree field_181644_b # LEAF
